#startButton{
    padding: 15px 18px;
    background-color: red;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    color: white;
    margin: auto;
    display: none;
}

/* .hidden {
    display: none;
} */