#startButton{
    padding: 15px 18px;
    background-color: red;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    color: white;
    margin: auto;
    display: none;
}

/* .hidden {
    display: none;
} */

.card {
    height: 12.5vh;
    /* width: 10px; */
    width: calc(100% * (1/4) - 10px - 1px);
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    /* margin: 4% auto; */
    flex: 1 0 21%;
    margin: 5px;
    box-shadow: border-box;
}
.card:hover{
    opacity: 0.2;
}